@page "/people"
@page "/"

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Departament</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Person person in People ?? Enumerable.Empty<Person>())
            {
                <tr class="@GetClass(person?.Location?.City)">
                    <td>@person?.PersonId</td>
                    <td>@person?.Surname, @person?.Firstname</td>
                    <td>@person?.Department?.Name</td>
                    <td>@person?.Location?.City, @person?.Location?.State</td>
                    <td>
                        <NavLink class="btn btn-sm btn-info" href="@(GetEditUrl(person.PersonId))">
                            Edit
                        </NavLink>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<ThemeWrapper Theme="info" Title="Location Selector">

<SelectFilter 
    Title="@SelectTitle" 
    Values="@Cities" 
    autofocus="true" 
    name="city" 
    required="true"
    SelectedValueChanged="@HandleCustom"
    />
    
<SelectFilter 
    Title="@SelectTitle" 
    Values="@Cities" 
    autofocus="true" 
    name="city" 
    required="true"
    @bind-SelectedValue="SelectedCity"
    />

<button class="btn btn-primary mt-2"
    @onclick="@(() => SelectedCity = "Oakland")">
    Change
</button>
</ThemeWrapper>

<NavLink class="btn btn-primary" href="/depts">Departments</NavLink>

@code {
    [Inject]
    public DataContext? DataContext{ get; set; }

    public IEnumerable<Person>? People => DataContext?.People
    .Include(people => people.Department)
    .Include(people => people.Location)
    .Take(ItemCount);

    public IEnumerable<string>? Cities => DataContext?.Locations.Select(location => location.City);

    public string SelectedCity { get; set; } = string.Empty;

    public string GetClass(string? city) => SelectedCity == city ? "bg-info text-white" : "";

    [Parameter]
    public int ItemCount { get; set; } = 4;

    [Parameter]
    public string? SelectTitle{ get; set; }

    public void HandleCustom(string newValue) => SelectedCity = newValue;

    public string GetEditUrl(long id) => $"/person/{id}";
}
