@page "/forms/edit/{id:long?}"
@page "/forms/create"
@layout EmptyLayout
@inherits OwningComponentBase<DataContext>
@implements IDisposable

<link rel="stylesheet" href="/blazorValidation.css" />

<h4 class="bg-@Theme text-center text-white p-2">@Mode</h4>
<h6 class="bg-info text-center text-white p-2">@FormSubmitMessage</h6>

<FormSpy PersonData="@(PersonData)">
    <EditForm 
        Model="PersonData" 
        OnInvalidSubmit="@(HandleInvalidSubmit)"
        OnValidSubmit="@(HandleValidSubmit)">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <DeptStateValidator DepartmentId="2" State="CA" />
        @if (Mode == "Edit")
        {
            <div class="form-group">
                <label>Person ID</label>
                <InputNumber
                    class="form-control" 
                    @bind-Value="@(PersonData.PersonId)"
                    readonly />
            </div>
        }
        <div class="form-group">
            <label>Firstname</label>
            <ValidationMessage For="@(() => PersonData.Firstname)" />
            <InputText 
                class="form-control" 
                @bind-Value="@(PersonData.Firstname)"
                />
        </div>
        <div class="form-group">
            <label>Surname</label>
            <ValidationMessage For="@(() => PersonData.Surname)" />
            <InputText 
                class="form-control" 
                @bind-Value="@(PersonData.Surname)"
                />
        </div>
        <div class="form-group">
            <label>Departments</label>
@*            <InputNumber
                class="form-control" 
                @bind-Value="@(PersonData.DepartmentId)"
                />*@
            <ValidationMessage For="@(() => PersonData.DepartmentId)" />
            <CustomSelect 
                TValue="@long"
                Parser="@(value => long.Parse(value))"
                Values="Departments"
                @bind-Value="PersonData.DepartmentId">
                <option selected disabled value="0">Choose a Department</option>
            </CustomSelect>
        </div>
        <div class="form-group">
            <label>Location</label>
            <ValidationMessage For="@(() => PersonData.LocationId)" />
            <CustomSelect 
                TValue="@long"
                Parser="@(value => long.Parse(value))"
                Values="Locations"
                @bind-Value="PersonData.LocationId">
                <option selected disabled value="0">Choose a Location</option>
            </CustomSelect>
        </div>
        <div class="text-center">
            <ValidButton 
                type="submit" 
                BtnTheme="@Theme">
                Save
            </ValidButton>
            <NavLink
                class="btn btn-secondary mt-2"
                href="/forms">
                Back
            </NavLink>
        </div>
    </EditForm>
</FormSpy>

@code {
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    //[Inject]
    //DataContext? DataContext { get; set; }

    [Parameter]
    public long? Id { get; set; }

    public IDictionary<string, long> Departments { get; set; } = new Dictionary<string, long>();
    public IDictionary<string, long> Locations { get; set; } = new Dictionary<string, long>();

    public Person? PersonData { get; set; } = new Person();

    protected override async Task OnParametersSetAsync()
    {
        if (OwnDataContext != null)
        {
            if (Mode == "Edit")
            {
                PersonData = await OwnDataContext.People.FindAsync(Id) ?? new Person();
            }
            Departments = await OwnDataContext.Departments.ToDictionaryAsync(dep => dep.Name, dep => dep.DepartmentId);
            Locations = await OwnDataContext.Locations.ToDictionaryAsync(loc => $"{loc.City}, {loc.State}", loc => loc.LocationId);
        }
    }

    public string FormSubmitMessage { get; set; } = "Form data not submitted";

    public async Task HandleValidSubmit()
    {
        FormSubmitMessage = "Valid data submitted";
        if(OwnDataContext != null)
        {
            if (Mode == "Create")
                OwnDataContext.Add(PersonData);
        }
        await OwnDataContext.SaveChangesAsync();
        NavigationManager.NavigateTo("/forms");
    }

    public void HandleInvalidSubmit() => FormSubmitMessage = "Invalid data submitted";

    public void Dispose()
    {
        if (OwnDataContext != null)
        {
            OwnDataContext.Entry(PersonData).State = EntityState.Detached;
        }
    }

    private DataContext OwnDataContext => Service;

    public string Theme => Id == default ? "primary" : "warning";
    public string Mode => Id == default ? "Create" : "Edit";
}
